* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans';
    background-color: #222121;
}

i {
    color: #DAB691;
    width: 20px;
    height: 20px;
}

.profile-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222121;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;

}

.navbar-profile {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.navbar-profile h2 {
    padding-left: 14px;
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
}

.navbar-list {
    display: flex;
    gap: 2rem;
}

.navbar-list li {
    list-style: none;
    color: #D1A475;
    font-weight: 500;
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.navbar-list a {
    text-decoration: none;
}

.profile-header {
    display: flex;
    justify-content: center;
    padding: 1.25rem 0 3rem 0;
}

.profile-header h1 {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: white;
}

.profile-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
}

.profile-data h1 {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    color: #FFFFFF;
    padding: 5px 10px;
}

.profile-data h2 {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    padding: 5px 10px;
    line-height: 39px;
    color: #FFFFFF;

    background: #222121;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
    border-radius: 7px;
}

a {
    text-decoration: none;
}

.signout-button {
    padding: 3rem 0 0 0;
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: white;
    background-color: transparent;
    border: 2px solid #D1A475;
    padding: 10px 24px;
    transition: .3s;
}

button:hover {
    transition: .3s;
    background-color: #96803A;
    border: none;
    padding: 10px 40px;
}