<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Component</title>
</head>
<body>
    <!-- Navbar -->
    <div class="container-navbar">
        <div class="navbar-logo">
          <h2>LOGO</h2>
        </div>
        <div class="navbar-list">
          <li>Home</li>
          <li>Book</li>
          <li>About</li>
          <li>Profile</li>
        </div>
        <div class="navbar-button">
          <p>Register</p>
          <div class="button-login">
            <a href="#">
              <p>Log In</p>
            </a>
          </div>
        </div>
      </div>
</body>
</html>