<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar Component</title>
  <link rel="stylesheet" href="Navbar.css">
</head>

<body>
  <!-- Navbar -->
  <div class="container-navbar">
    <div class="navbar-logo">
      <h2>LOGO</h2>
    </div>
    <div class="navbar-list">
      <div class="navbar-logo">
        <img src="./../../Asset/Navbar Logo.svg" alt="Boekber">
    </div>
    <div class="navbar-list">
        <a href="../Home/Home_after_login.php">
            <li>Home</li>
        </a>
        <a href="../../Features/Book/Book.php">
            <li>Book</li>
        </a>
        <a href="About.php">
            <li>About</li>
        </a>
        <a href="../../Features/History/History.php">
            <li>History</li>
        </a>
    </div>
    <div class="navbar-button">
      <a href="#">
        <p>Register</p>
      </a>
      <div class="button-login">
        <a href="#">
          <p>Log In</p>
        </a>
      </div>
    </div>
  </div>
</body>

</html>