* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans';
}

a{ 
    text-decoration: none;
}

.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222121;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;

}

.profile-wrapper{
    display: flex;
    flex-direction: row;
}



.navbar-profile {
    display: flex;
    flex-direction: row;
}

.navbar-profile h2 {
    padding-left: 14px;
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
}

.navbar-list {
    display: flex;
    gap: 2rem;
}

.navbar-list li {
    list-style: none;
    color: #D1A475;
    font-weight: 500;
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.navbar-list a {
    text-decoration: none;
}

.navbar-button {
    display: flex;
    gap: 2rem;
    align-items: center;
    color: #D1A475;

}

.navbar-button a {
    text-decoration: none;
}

.navbar-logo {
    color: #D1A475;
}


.history-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

td{
    width: 200px;
    text-align: center;
    border-right: 2px solid #D1A475;
}

td:last-child{
    border: none;
}